@model BookingHistory
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div class="header"><h2><b> Bus Reservation System</b></h2></div>
<div class="form">
	
	
   
	<div class="bform">
		
<form method="post" >
	<div class="theader"><h4><b>Book Ticket</b></h4></div>
		<div class="select-date"><label for="calender"><b>Select date:</b> </label>
		<input class="input-date" asp-for="Date" type="date" required>
		</div>
		<div class="location">
			<label><b>Select boarding point:</b></bSelect></label>
		<div class="dropdown">
  <datalist id="suggestions">
    <option value="location 1">KUDUVANCHERI</option>
	<option value="location 2">PERUNGALATHUR</option>
	<option value="location 3">VANDALOOR</option>
	<option value="location 4">THAMBARAM</option>
	<option value="location 5">KOYAMBEDU</option>
	<option value="location 6">CHENGALPATTU</option>
    </datalist>
    <input placeholder="search" asp-for="Destination" autoComplete="on" list="suggestions" required>
  </div>
    </div>
   <div class="message"><b class="msg" >@ViewBag.message</b></div>
	<div class="button">
		<button class="submit"   type="submit" >Submit</button>
	<button class="reset" type="Reset" value="Reset">Reset</button>
	</div>
	
	
</form>

</div>

</div>

	

</body>



<style>
	body{
		background-color:#ffcbcb;
			}
	.header{
		text-align: center;
		margin-top: 1%;
		color:rgb(49, 247, 49);
		border: 5px solid #000000;
		border-radius: 0px 30px 0px;
		margin-left: 22%;
		margin-right: 22%;
		 text-shadow: 2px 2px 3px black;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 2px 5px 10px  #523c63;
        background-color:#f7adad;
	}
	.select-date{
		position: relative;
		margin-left: 20%;
		margin-top: 10%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #06010a;
	
	}

	.location{
		position: relative;
		margin-top: 50px;
		margin-left: 20%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #050108;
	
	}
	.button{
		position: relative;
		margin-left: 38%	
	}
	.submit{
		background-color: #af1616;
		
		color: white;
		font-size: 16px;
		border-radius: 5px;
		
	}
	.reset{
		position: relative;
		margin-top: 50px;
		margin-left: 10px;
		background-color: #af1616;
		color: white;
		font-size: 16px;
		border-radius: 5px;
		margin-bottom: -20%;
	}
	.reset:hover{
		box-shadow: 2px 2px 5px  #523c63;
	}
	.submit:hover{
		box-shadow: 2px 2px 5px  #523c63;
	}
	.option{
		border: 3px solid black;
		border-radius: 5px;
		background-color: #af1616;
		color: white;
	}
	.option:hover{
		box-shadow: 2px 2px 5px  #523c63;
	}
	select option{
		background-color: white;
		color:#855AA6;
	}
	.input-date{
		border: 2px solid black;
		border-radius: 5px ;
		background-color: #af1616;
		color: white;
		text-align: center;

	}
	.input-date:hover{
		box-shadow: 2px 5px 5px  #523c63;
	}
	.input-date::-webkit-calendar-picker-indicator {
    filter: invert();
}

.dropbtn {
  background-color:#855AA6;
  color: white;
  font-size: 20px;
  border: 2px solid black;
  cursor: pointer;
  height:35px;
  width: 170px;
  border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
 box-shadow: 2px 5px 5px  #523c63 ;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 2PX solid black;
  border-bottom: 2px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.div1{
	background-color: #523c63;
	width: 50%
}
.div2{
	background-color: #523c63;

	height: 200px;
	width: 200px;
	float:left;
}
.form{
	display:
}
.theader{
	text-align: center;
	margin-top: 7%;
	text-shadow: 1.5px 1.5px 2px black;
	background-color: #f7adad;
	color:#af1616;
	box-shadow: 2px 2px 3px black;
	border: 3px solid #af1616;
	border-radius: 0px 20px 0px;
	margin-right: 30%;
	margin-left: 30%;
}.bform{
	border: 3px solid #af1616;
	border-radius: 0px 30px 0px;
	box-shadow: 2px 4px 8px #06010a;
	background-color: #ffcbcb;
	margin-left: 20%;
	margin-right: 20%;
	margin-top:5%;
}.image{
	margin-top:9%;
    border: 5px solid #af1616;
	margin-left: 5%;
	margin-right: 10px;
	padding-right: -2%;
	
	width:95%
}.top{
	margin-top: 5%;
	margin-left: -5%;
	border: 2px solid black;
}
.message{
	font-style: italic;
	margin-top: 6%;
	margin-left:21% ;
	color: red;
}
	</style>
<script>
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i<a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}</script>