<div class ="contact"><ul>
                <li>Name:<span><h1>Online Bus Booking</h1></span></li>
                <li>phone: <span>9345347362</span></li>
                <li>e-mail: <span>abcbusbooking@gmail.com</span></li>
                <li>Location: <span>kallakurichi</span></li>
                <li>Pincode: <span>606107</span></li> 
            </ul>
            </div>