
@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
  ViewData["Title"]="Home Page";
}
@model Employee
<div class="body">
<head><meta http-equiv='refresh'content="10000;url=https://localhost:5260/Main/SessionExpired" /></head>
<h3 class="greeting" style="color:#af1616;margin-left:20px;">Hi,  @HttpContextAccessor.HttpContext.Session.GetString("UserName") </h3>

<div class="text-center">
    <h1 class="display"><div class="space"> Bus Reservation System</div></h1>
    <img src="~/images/dash index.png" alt="Bus Image" style="width:40%;margin-top:4%">
</div>
        <div class="content">
                <p> <b>The system is user-friendly and efficient, providing a seamless booking experience for Employees. 
         It is easy to maintain the travelling data in this System.
         It allows users to book and manage their bus tickets online. 
         The use of modern technology ensures secure transactions and reliable data management. 
         Overall, this system is a valuable addition to the travel industry,
          streamlining the booking process and enhancing customer satisfaction.</b></p>
        </div>
        <br></br>
        <a asp-controller="Dashboard" asp-action="bookRide">
          <button class="Submit">Book Ride</button>
        </a>
        </div>
<style>
button{
  font-size: large;
  background-color: #af1616;
  position:relative;
  text-align: center;
  margin-left: 40%;
  margin-bottom: 2%;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: whitesmoke;
  border-radius: 5px;
}.submit{
  border: 2px solid black;
}
.submit:hover{
  box-shadow: 2px 5px 5px  #523c63;
}
.content{
  margin-top: 4%;
}
.display{
  color:#af1616;
  text-shadow: 2px 2px 3px black ;
  border: 5px solid #af1616;
  box-shadow: 3px 3px 4px black;
  background-color: #f7adad;
  border-radius: 0px 20px 0px;
  margin-left: 22%;
  margin-right: 22%;
  
}
.space{
  margin-bottom: 10px;
}
.body{

  background-color: #ffcbcb;
  border-color: #ffcbcb;
}
</style>
