
@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
  ViewData["Title"]="seatBooked";
}
@model Employee
<head><meta http-equiv='refresh'content="10000;url=https://localhost:5260/Main/SessionExpired" /></head>

<div class="text-center">
    <h1 class="display-4"> Bus Reservation System</h1>
   
</div> 
<div ><img class="image" src="~/images/last.png" alt="Bus Image"></div>
        <div class="content">
                <p> <b>Your booking in our System is confirmed. Thanks for the  booking. For any queries contact the Admins in the 
                    contact page
                </b></p>
        </div>
        <h4 class="greeting" style="color:#af1616;margin-left:20px;" style="text-align: center;" >Thank You,  @HttpContextAccessor.HttpContext.Session.GetString("UserName") </h4>
        <br></br>
        <a asp-controller="Home" asp-action="logOut">
           <button class="Submit">Logout</button>
        </a>
<style>
   .display-4{
        color:#af1616;
        border:5px solid #af1616;
        border-radius:0px 30px 0px ;
        background-color: #f7adad;
        box-shadow:3px 3px 4px #1f0606;
        margin-top: -4px;
    }
button{
  font-size: large;
  background-color: #af1616;
  position:relative;
  text-align: center;
  margin-left: 40%;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: whitesmoke;
  border-radius: 5px;
}.submit{
  border: 2px solid black;
}
.submit:hover{
  box-shadow: 2px 5px 5px  #523c63;
}
.content{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.5%;
  margin-top: -2%;
}
.image{
  
  width:500px;
  margin-top:1%;
  margin-bottom: 2%;
  margin-left: 30%;

}
</style>