
@{
    ViewData["Title"] = "Home Page";
}
<div class="body">
<div class="text-center">
    <h1 class="display-4"> Bus Reservation System </h1>
<img src="~/images/OIP.png" alt="Bus Image" style="width:50%"></div>
<img class="wel"src="~/images/welcome.gif" style="width:20%">

        <div class="content">
                <p > <b>The system is user-friendly and efficient, providing a seamless booking experience for Employees. 
         It is easy to maintain the travelling data in this System.
         It allows users to book and manage their bus tickets online. 
         The use of modern technology ensures secure transactions and reliable data management. 
         Overall, this system is a valuable addition to the travel industry,
          streamlining the booking process and enhancing customer satisfaction.</b></p>
        </div>
</div>
        
<style>
    .display-4{
        color:#af1616;
        border:5px solid #af1616;
        border-radius:0px 30px 0px ;
        background-color: #f7adad;
        box-shadow:3px 3px 4px #1f0606;
        margin-top: -4px;
    }
    .body{
        background-color: #ffcbcb;
        border-radius: 0px 30px 0px 0px;
        height: 650px;
    }
    .content{
        margin-top: 0.5%;
        margin-right: 2%;
        margin-left: 2%;
    }img{
        margin-top: 3%;
    }.wel{
        margin-top:-0.5%;
        color: #af1616;
        margin-left:39%;
    }
</style>
